.input-group-text{
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    border:1px solid #0d6efd;
}
.form-control{
    border-color: #0d6efd;
}

.alert{
    padding: 6px 25px;
    width: 100%;
    margin-bottom: 0;
    border: 1px solid #0d6efd;
}