.input-group-text{
    border-bottom-right-radius:0 !important;
    border-top-right-radius:0 !important;
    border:1px solid #0d6efd;
}
/* .form-control{
    border-color: #0d6efd;
} */
.id__red{
    border: 1px solid red;
}

.alert{
    padding: 6px 25px;
    width: 100%;
    margin-bottom: 0;
    border: 1px solid #bcbebf;
}
.data__span{
    min-width: 130px;
}
.has-error:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #ce8483;
}
.m2{
    margin: 0 10px;
}
.brd_shadow_header{
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.5);
}
.brd__shadow__itput{
    box-shadow: 0 0 5px 0px rgb(0 0 0 / 50%);
}
.brdr__radius__input{
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.document__span{
    display: block;
    min-width: 180px;
    text-align: center;
}
.navbar a{
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}